:root {

	--color-clone: black;
	--color-cut: black;
	--color-link: black;
	--color-paste: black;
	--color-download: black;
	--color-mail: black;
	--color-bell: black;

	--color-youtube: #bb0000;
	--color-facebook: #3B5998;
	--color-instagram: #8a3ab9;
	--color-twitch: #6441a5;
	--color-tiktok: black;
	--color-snapchat: #fffc00;
	--color-twitter: #55ACEE;
	--color-vimeo: #45bbff;
	--color-linkedin: #007bb5;
	--color-skype: #00aff0;
	--color-tumblr: #2c4762;
	--color-pinterest: #cb2027;
	--color-flickr: #f40083;
	--color-dribbble: #ea4c89;
	--color-stumbleupon: #eb4924;
	--color-spotify: #1DB954;
	--color-deezer: #191919;
	--color-itunes: #EA4CC0;
	--color-soundcloud: #ff5500;
	--color-amazon: #FF9900;
	--color-audible: #232F3E;
	--color-pdf: red;
	--color-telegram: #2ca5e0;
	--color-whatsapp: #25d366;

	--color-google: #4285F4;
	--color-chromecast: black;
	--color-chrome: black;
	--color-android: #a4c639;
	--color-apple: #A2AAAD;

	--color-playstation: #003791;

	--color-quora: #b92b27;
	--color-yahoo: #430297;
	--color-foursquare: #45bbff;
	--color-airbnb: #FF5A5F;

	--color-bitcoin: #f2a900;

}

.social-icon {

	color: #fff;

	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;

	margin: 5px;

	border-radius: 25px;

	font-size: 20px;

	display: inline-block;

	text-shadow:
		-1px 0 #000,
		0 1px #000,
		1px 0 #000,
		0 -1px #000;

	transition:
		transform 0.2s,
		box-shadow 0.2s,
		opacity 0.2s,
		border-radius 0.2s;

}

.social-icon:hover {

	opacity: 0.9;
	transform: translateY(-3px);
	border-radius: 12px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

a:has(.social-icon) {

	text-decoration: none;

}

/* colori */

.fa-clone {
	background: var(--color-clone);
}

.fa-scissors {
	background: var(--color-cut);
}

.fa-paste {
	background: var(--color-paste);
}

.fa-download {
	background: var(--color-download);
}

.fa-envelope {
	background: var(--color-mail);
}

.fa-youtube {
	background: var(--color-youtube);
}

.fa-facebook {
	background: var(--color-facebook);
}

.fa-instagram {
	background: var(--color-instagram);
}

.fa-twitch {
	background: var(--color-twitch);
}

.fa-tiktok {
	background: var(--color-tiktok);
}

.fa-snapchat {
	background: var(--color-snapchat);
}

.fa-x-twitter {
	background: var(--color-twitter);
}

.fa-vimeo {
	background: var(--color-vimeo);
}

.fa-linkedin {
	background: var(--color-linkedin);
}

.fa-skype {
	background: var(--color-skype);
}

.fa-tumblr {
	background: var(--color-tumblr);
}

.fa-pinterest {
	background: var(--color-pinterest);
}

.fa-flickr {
	background: var(--color-flickr);
}

.fa-dribbble {
	background: var(--color-dribbble);
}

.fa-spotify {
	background: var(--color-spotify);
}

.fa-deezer {
	background: var(--color-deezer);
}

.fa-itunes {
	background: var(--color-itunes);
}

.fa-soundcloud {
	background: var(--color-soundcloud);
}

.fa-amazon {
	background: var(--color-amazon);
}

.fa-audible {
	background: var(--color-audible);
}

.fa-file-pdf {
	background: var(--color-pdf);
}

.fa-bell {
	background: var(--color-bell);
}

.fa-telegram {
	background: var(--color-telegram);
}

.fa-whatsapp {
	background: var(--color-whatsapp);
}

.fa-google {
	background: var(--color-google);
}

.fa-chromecast {
	background: var(--color-chromecast);
}

.fa-chrome {
	background: var(--color-chrome);
}

.fa-android {
	background: var(--color-android);
}

.fa-apple {
	background: var(--color-apple);
}

.fa-playstation {
	background: var(--color-playstation);
}

.fa-quora {
	background: var(--color-quora);
}

.fa-yahoo {
	background: var(--color-yahoo);
}

.fa-foursquare {
	background: var(--color-foursquare);
}

.fa-airbnb {
	background: var(--color-airbnb);
}

.fa-bitcoin {
	background: var(--color-bitcoin);
}


a:has(> .social-icon)::before,
a:has(> .social-icon)::after {

	content: none !important;

}